.App {
  text-align: left;
  background-color: rgb(37, 37, 37);
  color: #fffaf0;
}
html,
body {
  width: 100%;
  height: 100%;
  margin: 0px;
  padding: 0px;
  overflow-x: hidden;
  background-color: rgb(37, 37, 37);
}

header {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  padding: 0px 10px 0px 20px;
  border-bottom: 1px solid #4d4b4b;
}

button {
  color: #fffaf0;
  padding: 0;
  border: none;
  background: none;
  padding: 10px 10px 10px 10px;
}
a {
  text-decoration: none;
}

.header__title {
  margin: 0px 0px 0px 0px;
  padding-right: 10px;
  padding-left: 0px;
  font-size: 3.5em;
}
.header__username {
  margin: 0px 0px 0px 0px;
  padding: 20px 10px 10px 10px;
  font-size: 1.1em;
  border-left: 1px solid #4d4b4b;
}
.header__button {
  padding: 10px 10px 10px 0px;
  border: none;
  background: none;
  text-align: left;
  border-right: 1px solid #4d4b4b;
}
.header__button:hover {
  text-shadow: 1px 1px #888888;
}

.NavBar__main {
  border-bottom: 1px solid #4d4b4b;
  padding-left: 10px;
}
.NavBar-main-topics {
  font-size: 0.9em;
  padding-left: 10px;
}
.topic-coding, .topic-cooking, .topic-football{
  border: 1px solid #4d4b4b;
  border-radius: 4px;
  margin: 10px;
  box-shadow: 2px 2px #888888;
}
.topic-coding:focus, .topic-cooking:focus, .topic-football:focus{
  border: 1px solid #e3dac9;
  border-radius: 4px;
  margin: 10px;
  box-shadow: 0px 0px #888888;
}
.topic-coding:hover, .topic-cooking:hover, .topic-football:hover{
  border: 1px solid #e3dac9
}
.topic-coding, .topic-coding:focus, .topic-coding:hover {
  border-left: 6px solid #ff5801;
}
.topic-cooking, .topic-cooking:focus, .topic-cooking:hover {
  border-left: 6px solid #28a5c1;
}
.topic-football, .topic-football:focus, .topic-football:hover {
  border-left: 6px solid #15aa76;
}



.QueryBar-date,
.QueryBar-comments,
.QueryBar-votes {
  font-size: 0.9em;
  padding-left: 4px;
  padding-bottom: 2px;
}
.QueryBar-main-topics {
  font-size: 0.9em;
  padding-top: 10px;
  padding-left: 20px;
  text-align: center;
}
.QueryBar__section {
  border-bottom: 1px solid #4d4b4b;
  display: flex;
  align-items: center;
  justify-content: center;
}
.QueryBar-button {
  font-size: x-large;
  margin-right: 10px;
  filter:drop-shadow(1px 1px 0px #616161);  
  -webkit-text-stroke: 0.1px;
}
.QueryBar-button-right {
  font-size: x-large;
  margin-right: 10px;
  padding-left: 7px;
  filter:drop-shadow(1px 1px 0px #616161)
}
.QueryBar-button:active,
.QueryBar-button-right:active {
  color: #1cc58a;
  filter:drop-shadow(0px 0px 0px #888888)
}
.QueryBar-button:focus,
.QueryBar-button-right:focus {
  color: #1cc58a;
}
.QueryBar-button:hover, .QueryBar-button-right:hover {
  color: #1cc58a;
  filter:drop-shadow(0px 0px 0px #888888)
}
#defaultOrder-true {
  color: #1cc58a;
}
.fa-arrow-up-short-wide {
  width: 5px;
  margin-left: -5px;
  padding-right: 5px;
}
.fa-arrow-down-wide-short {
  width: 5px;
}

.main__articles,
.SingleTopic__articles {
  display: grid;
  grid-template-columns: 1fr 1fr;
  column-gap: 20px;
  row-gap: 20px;
  align-self: center;
  padding: 20px 20px 10px 20px;
}
.article-list-button {
  display: grid;
  width: 100%;
  height: 100%;
  padding: 0;
  text-align: left;
}

.article__list {
  padding: 10px 10px 10px 5px;  
  margin: 0px 0px 0px 0px;
  border-top: 1px solid #4d4b4b;
  border-bottom: 1px solid #4d4b4b;
  border-right: 1px solid #4d4b4b;
  border-radius: 4px;
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: 1fr auto;
  grid-template-areas:
    "title"
    "author"
    "date"
    "topic";
  align-self: stretch;
}
.article__list:hover{
  border-top: 1px solid #e3dac9;
  border-bottom: 1px solid #e3dac9;
  border-right: 1px solid #e3dac9;
  border-radius: 4px;
}
.article-cooking {
  border-left: 6px solid #28a5c1;
}
.article-coding {
  border-left: 6px solid #ff5801;
}
.article-football {
  border-left: 6px solid #15aa76;
}


.list__title {
  grid-area: title;
  margin: 0px 0px 0px 0px;
  line-height: 1.4em;
}
.list__topic {
  grid-area: topic;
  margin: 0px 0px 0px 0px;
  font-size: 0.9em;
  font-weight: 200;
  color: #afacac;
}
.list__author {
  grid-area: author;
  margin: 0px 0px 0px 0px;
  padding-top: 5px;
}
.list__date {
  grid-area: date;
  margin: 0px 0px 0px 0px;
  padding-top: 2px;
}
.list__votes {
  grid-area: date;
  text-align: right;
  margin: 0px 0px 0px 0px;
  padding-top: 2px;
  font-size: smaller;
}
.list__comment-count {
  grid-area: topic;
  margin: 0px 0px 0px 0px;
  text-align: right;
  font-size: smaller;
}

.single-article-title {
  padding: 0px 20px 0px 20px;
  margin-bottom: 0;
  line-height: 1.4em;
}
.single-article-topic,
.single-article-author,
.single-article-date {
  padding: 2px 20px 0px 20px;
  font-weight: 200;
}
.single-article-body {
  padding: 0px 20px 0px 20px;
  line-height: 1.4em;
}
.single-article-votes {
  display: flex;
  align-items: right;
  justify-content: right;
  margin-right: 20px;
  font-size: smaller;
  font-weight: lighter;
  padding: 0px 2px 3px 2px;
}
#vote-arrow-up,
#vote-arrow-down {
  display: grid;
  margin-left: auto;
  margin-right: 20px;
  padding: 0px 20px 0px 0px;
  font-size: large;
  -webkit-text-stroke: 0.1px;
  color: #fffaf0;
  
}
#vote-arrow-down {
  color: #fffaf0;
}

#vote-arrow-up:disabled {
  color: #15aa76;
}
#vote-arrow-down:disabled {
  color: #ff5801;
}

.comments-button {
  display: block;
  margin-left: auto;
  margin-right: 10px;
  margin-top: 20px;
  margin-bottom: 10px;
  border: 1px solid #4d4b4b;
  border-radius: 4px;
  box-shadow: 1px 1px #888888;
}
.comments-button:active{
  border: 1px solid #e3dac9;
}
.comments-button:hover{
  border: 1px solid #e3dac9;
}
.comment-section {
  display: grid;
  grid-template-columns: 1fr;
  column-gap: 20px;
  row-gap: 20px;
  padding: 0px 20px 0px 20px;
}
.comment-list {
  margin: 0;
  padding: 10px 20px 10px 20px;
  border-top: 1px solid #4d4b4b;
  border-bottom: 1px solid #4d4b4b;
  border-right: 1px solid #4d4b4b;
  border-left: 1px solid #4d4b4b;
  border-radius: 4px;
}
.comment-body {
  margin: 0;
}
.comment-posted,
.comment-votes {
  font-size: 0.85em;
  font-weight: 200;
}
.comment-votes {
  text-align: right;
}
form {
  display: grid;
}
textarea {
  resize: none;
  width: 100%;
  height: 100%;
  margin-bottom: 0px;
}
.post-comment-text {
  color: #fffaf0;
  border: 1px solid #4d4b4b;
  border-radius: 4px;
  background-color: rgb(37, 37, 37);
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  outline: #afacac;
  font-size: 1em;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  margin-bottom: 0px;
  padding: 10px 10px 50px 10px;
}
.post-comment-submit {
  color: #fffaf0;
  margin-left: auto;
  margin-right: 1px;
  margin-top: 2px;
  border: 1px solid #4d4b4b;
  border-radius: 4px;
  box-shadow: 1px 1px #888888;
  background-color: rgb(37, 37, 37);
  font-size: 1.1em;
  padding: 5px 10px 20 0px;
}
.post-comment-submit:active, .post-comment-submit:hover {
  border: 1px solid #e3dac9;
} 
.valid-post-false {
  border-color: #ff5801;
}
.post-length-error {
  text-align: left;
  margin-bottom: -21px;
  padding-top: 1.5px;
  padding-left: 10px;
  color: #ff5801;
}
.comment-post-delete {
  display: block;
  margin-left: auto;
  margin-right: 0px;
  padding: 10px 0px 0px 0px;
  font-size: 1em;
  color: #ff5801;
}

.error-page-text {
  padding: 10px 0px 15px 20px;
}
.error-page-link {
  text-decoration: none;
  color: white;
  line-height: 2em;
  padding: 10px;
  margin-left: 20px;
  margin-top: 20px;
  border: 1px solid #4d4b4b;
  border-left: 6px solid #15aa76;
  border-radius: 4px;
}
.loading-text {
  padding: 10px 0px 0px 20px;
  text-align: center;
}

@media (hover: hover) and (pointer: fine) {
  .fa-arrow-up:hover {
    color: #15aa76;
  }
  .fa-arrow-down:hover {
    color: #ff5801;
  }
}

@media only screen and (max-width: 600px) {
  .main__articles,
  .SingleTopic__articles {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: min-content auto;
  }
  header {
    display: grid;
    grid-template-columns: 1fr 0.25fr;
    padding: 0px 20px 0px 20px;
  }
  .header__title {
    margin-bottom: 0px;
    font-size: 2.5em;
  }
  .header__username {
    place-self: center;
    font-size: 0.8em;
    border: none;
    padding: 0px 0px 0px 10px;
  }
}
